::selection {
  background: #33d685;
  color: #FFF;
}
@font-face {
  font-family: Open Sans;
  src: url(../font/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2);
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", 'Microsoft Yahei', sans-serif;
}
body {
  background: #efefef;
}
a {
  text-decoration: none;
  color: #000;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
header {
  width: 100%;
  height: 515px;
  background: url(../img/hd-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
}
header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 51, 64, 0.8);
}
header .nav-wrap {
  max-width: 1550px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  padding: 7px 55px 7px 0;
}
header .nav {
  float: right;
  height: 40px;
}
header .nav li {
  float: left;
  margin-right: 30px;
}
header .nav a {
  display: block;
  font-family: "Open Sans", 'Microsoft Yahei', sans-serif;
  line-height: 40px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}
header .nav .sub-bar {
  width: 0;
  height: 3px;
  display: block;
  background: #33d685;
  -webkit-transition: width 0.15s linear 0s;
  -o-transition: width 0.15s linear 0s;
  transition: width 0.15s linear 0s;
}
header .nav li:hover .sub-bar {
  width: 100%;
}
.content {
  background: #efefef;
  position: relative;
  left: 0;
  top: 0;
  padding-top: 255px;
  width: 940px;
  margin: 0 auto;
}
.content .card {
  width: 940px;
  height: 525px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: -340px;
  margin-left: -470px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.card .face {
  width: 300px;
  height: 350px;
  float: left;
  margin: 57px 63px 0 50px;
  overflow: hidden;
  text-align: center;
}
.card .face img {
  display: block;
  height: 100%;
}
.card .info {
  float: left;
  width: 477px;
  height: 300px;
  box-sizing: border-box;
  margin-top: 57px;
}
.card .info .hello {
  width: 70px;
  height: 29px;
  background: #33d685;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", 'Microsoft Yahei', sans-serif;
  line-height: 29px;
  text-align: center;
  color: #fff;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 28px;
}
.card .info .hello:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 4px solid #33d685;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: 5px;
  top: 100%;
}
.card .info .name {
  font-size: 36px;
  margin-bottom: 5px;
  font-family: "Open Sans", 'Microsoft Yahei', sans-serif;
  color: #3d4451;
  font-weight: bold;
  line-height: 1.1;
}
.card .info .name span {
  font-weight: 300;
  color: #3d4451;
}
.card .info h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  color: #3d4451;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
}
.card .profile dt {
  width: 120px;
  float: left;
  color: #333333;
  font-size: 15px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.card .profile dd {
  margin-left: 125px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9da0a7;
  margin-bottom: 6px;
  vertical-align: baseline;
}
.card .profile dd a {
  color: #9da0a7;
}
.card .profile dd a:hover {
  text-decoration: underline;
}
.card .profile-vacation span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  text-transform: none;
  padding: 7px 8px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #33d685;
}
.card .iconfont {
  margin-right: 10px;
  vertical-align: baseline;
}
.card .social-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #33d685;
  width: 100%;
  height: 85px;
}
.card .social-bar .social {
  width: 375px;
  height: 55px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -187.5px;
  margin-top: -27.5px;
}
.card .social-bar li {
  float: left;
  width: 45px;
  height: 45px;
  margin: 5px 15px;
  text-align: center;
}
.card .social-bar li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-indent: 10px;
  -webkit-transition: 250ms all ease;
  -moz-transition: 250ms all ease;
  -ms-transition: 250ms all ease;
  -o-transition: 250ms all ease;
  transition: 250ms all ease;
}
.card .social-bar li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.card .social-bar li i {
  font-size: 20px;
  line-height: 45px;
  color: #fff;
  text-align: center;
}
.profile-text {
  color: #3d4451;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  margin-top: 60px;
  padding-left: 5%;
  padding-right: 5%;
}
.profile-text .profile-text p {
  margin: 0 0 25px 0;
  word-wrap: normal;
}
.profile-btn {
  margin: 65px auto 0;
  text-align: center;
  width: 235px;
  height: 56px;
  margin-bottom: 54px;
}
.profile-btn a {
  display: block;
  width: 235px;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  border: 1px solid #cbcdcf;
  background: transparent;
  box-shadow: none;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  color: #3d4451;
}
.profile-btn a:hover {
  opacity: 0.95;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.skills {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}
.skills h2 {
  color: #3d4451;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 36px;
}
.skills .skills-box {
  padding-left: 50px;
  box-sizing: border-box;
  width: 100%;
  height: 245px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.skills .skills-box li {
  float: left;
  width: 405px;
  height: 65px;
  box-sizing: border-box;
  margin-right: 30px;
  position: relative;
  left: 0;
  top: 0;
}
.skills .skills-box li .skill-name {
  font-style: normal;
  color: #3d4451;
  position: absolute;
  left: 5px;
  top: 35px;
}
.skills .skills-box li .percent {
  color: #3d4451;
  position: absolute;
  right: 5px;
  top: 35px;
}
.skills .skills-box li .bar-wrap {
  width: 405px;
  height: 5px;
  background: #d6f7e7;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}
.skills .skills-box li .bar-wrap .skill-bar {
  height: 100%;
  background: #33d685;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  -webkit-transition: width 400ms ease-out 100ms;
  -moz-transition: width 400ms ease-out 100ms;
  -ms-transition: width 400ms ease-out 100ms;
  -o-transition: width 400ms ease-out 100ms;
  transition: width 400ms ease-out 100ms;
}
.library {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.library h2 {
  color: #3d4451;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 36px;
}
.lib-box {
  position: relative;
  left: 0;
  top: 0;
  width: 940px;
  height: 265px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 40px 50px;
  box-sizing: border-box;
}
.lib-box p {
  margin: 0 0 25px 0;
  color: #3d4451;
  line-height: 24px;
}
.lib-icons {
  position: absolute;
  left: 50%;
  bottom: 47px;
  margin-left: -301px;
  width: 602px;
  height: 72px;
}
.lib-icons li {
  float: left;
  width: 72px;
  height: 72px;
  border: 1px solid #d7dbde;
  border-radius: 5px;
  margin: 0 7px;
  line-height: 72px;
  text-align: center;
  font-size: 30px;
  color: #33d685;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
}
.lib-icons li:hover span {
  margin-top: 10px;
  opacity: 1;
}
.lib-icons li span {
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  opacity: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 1;
  background-color: #717171;
  padding: 5px 8px;
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -33px;
  margin-top: 0;
  border-radius: 3px;
}
.works {
  width: 940px;
  margin: 70px auto 0;
  text-align: center;
}
.works h2 {
  color: #3d4451;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 36px;
}
.works.chief .timeline {
  height: 570px;
  margin-bottom: 70px;
}
.works.chief .timeline-bar {
  height: 400px;
}
.timeline {
  width: 940px;
  height: 837px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}
.timeline .timeline-bar {
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -2px;
  width: 4px;
  height: 575px;
  background: #33d685;
  opacity: 0.2;
}
.timeline-box {
  width: 435px;
  position: absolute;
  border-top: 5px solid #33d685;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  padding: 20px 2.5%;
  background: #fff;
}
.timeline-box .date {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.timeline-box p {
  text-align: left;
  color: #757575;
}
.timeline-box h3 {
  font-size: 22px;
  color: #414141;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.1;
}
.timeline-box h4 {
  margin-bottom: 30px;
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
}
.timeline-box.left .arrow {
  width: 12px;
  height: 41px;
  position: absolute;
  top: 55px;
  right: -12px;
  background: url(../img/arrows.png) no-repeat -18px 0;
}
.timeline-box.left .arrow i {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #fff;
  display: block;
}
.timeline-box.left .dot {
  position: absolute;
  top: 71px;
  right: -39px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #33d685;
}
.timeline-box.right .arrow {
  width: 12px;
  height: 41px;
  position: absolute;
  top: 55px;
  left: -12px;
  background: url(../img/arrows.png) no-repeat 0 0;
}
.timeline-box.right .arrow i {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 10px solid #fff;
  display: block;
}
.timeline-box.right .dot {
  position: absolute;
  top: 71px;
  left: -39px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #33d685;
}
.contact {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.contact h2 {
  color: #3d4451;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 36px;
}
.contact {
  margin-bottom: 70px;
}
.my-info {
  float: left;
  width: 455px;
  height: 488px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background: #fff;
  box-sizing: border-box;
  padding: 40px 50px;
}
.my-info h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 25px 0;
  line-height: 1.1;
  color: #3d4451;
}
.my-info dl dt {
  width: 100px;
  float: left;
  margin-bottom: 32px;
  text-align: left;
  color: #414141;
  font-weight: 400;
  box-sizing: border-box;
  border-left: 2px solid #33d685;
  line-height: 100%;
  padding-left: 10px;
  position: relative;
  left: 0;
  top: 0;
}
.my-info dl dt i {
  height: 2px;
  width: 355px;
  background: #33d685;
  position: absolute;
  left: 0;
  bottom: -14px;
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.my-info dl dd {
  width: 255px;
  float: left;
  margin-bottom: 32px;
  position: relative;
  left: 0;
  top: 0;
  font-weight: 300;
  text-align: left;
  text-indent: 20px;
  line-height: 100%;
  cursor: pointer;
}
.loca {
  float: right;
  width: 455px;
  height: 488px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background: #fff;
}
#container {
  width: 100%;
  height: 100%;
}
.animate-up {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}
.animate-up.animated {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -moz-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -ms-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -o-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}
.animate-right {
  opacity: 0;
  visibility: hidden;
  transform: translate(-100px, 0);
}
.animate-right.animated {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -moz-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -ms-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -o-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}
.animate-left {
  opacity: 0;
  visibility: hidden;
  transform: translate(100px, 0);
}
.animate-left.animated {
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -moz-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -ms-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -o-transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}
.javascript.animate-width {
  width: 0%;
}
.javascript.animate-width.animated {
  width: 80%;
}
.jquery.animate-width {
  width: 0%;
}
.jquery.animate-width.animated {
  width: 80%;
}
.css.animate-width {
  width: 0%;
}
.css.animate-width.animated {
  width: 90%;
}
.css3.animate-width {
  width: 0%;
}
.css3.animate-width.animated {
  width: 85%;
}
.ajax.animate-width {
  width: 0%;
}
.ajax.animate-width.animated {
  width: 90%;
}
.jsonp.animate-width {
  width: 0%;
}
.jsonp.animate-width.animated {
  width: 90%;
}
