::selection {
  background: #33d685;
  color: #FFF;
}
@font-face {
  font-family: Open Sans;
  src: url(../font/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../font/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1449975420_4663439.eot');
  src: url('//at.alicdn.com/t/font_1449975420_4663439.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1449975420_4663439.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1449975420_4663439.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1449975420_4663439.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", 'Microsoft Yahei', sans-serif;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
a {
  text-decoration: none;
}
header {
  background: url(../img/head-bg0.jpg) no-repeat fixed 0 0;
}
header .nav-wrap {
  max-width: 1550px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  padding: 7px 55px 7px 0;
}
header .nav {
  float: right;
  height: 40px;
}
header .nav li {
  float: left;
  margin-right: 30px;
}
header .nav a {
  display: block;
  font-family: "Open Sans", 'Microsoft Yahei', sans-serif;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
}
header .nav .sub-bar {
  width: 0;
  height: 3px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: width 0.15s linear 0s;
  -o-transition: width 0.15s linear 0s;
  transition: width 0.15s linear 0s;
}
header .nav li:hover .sub-bar {
  width: 100%;
}
header .face {
  text-align: center;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -120px;
  margin-top: -120px;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -ms-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
header .face:hover {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
header .face img {
  width: 286px;
  margin-left: -28px;
  margin-top: -118px;
  opacity: 0.8;
}
header h1 {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms ease-in;
  font-family: 'Raleway-Regular';
  font-weight: 300;
  position: absolute;
  left: 50%;
  top: 55%;
  margin-left: -264px;
  margin-top: -100px;
}
header h1 span {
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
header h1 span:hover {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
header .me-btn {
  position: absolute;
  left: 50%;
  top: 65%;
  margin-left: -80px;
  width: 160px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.035);
}
header .me-btn.left {
  margin-left: -260px;
}
header .me-btn.right {
  margin-left: 100px;
}
header .me-btn span {
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 0px;
  height: 0px;
}
header .me-btn .top {
  position: absolute;
  width: 50px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  left: -200px;
  top: -2px;
}
header .me-btn .bottom {
  position: absolute;
  width: 50px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  right: -200px;
  bottom: -2px;
}
header .me-btn .left {
  position: absolute;
  width: 2px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  left: -2px;
  bottom: -150px;
}
header .me-btn .right {
  position: absolute;
  width: 2px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  right: -2px;
  top: -150px;
}
header .me-btn:hover .top {
  opacity: 1;
  width: 160px;
  left: -2px;
}
header .me-btn:hover .bottom {
  opacity: 1;
  width: 160px;
  right: -2px;
}
header .me-btn:hover .left {
  opacity: 1;
  height: 60px;
  bottom: -2px;
}
header .me-btn:hover .right {
  opacity: 1;
  height: 60px;
  top: -2px;
}
header .me-btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.sim-show {
  background: url(../img/sim.jpg) no-repeat fixed center;
  width: 100%;
  height: 600px;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
}
.sim-show ul {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -600px;
}
.sim-show .list {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  float: left;
  width: 360px;
  height: 230px;
  margin: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #162633;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway-Regular';
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  left: 0;
  top: 0;
}
.sim-show .list img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.sim-show .list .opabox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 70%;
  background: rgba(0, 0, 0, 0.55);
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -ms-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-sizing: border-box;
}
.sim-show .list .opabox h2 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: normal;
  text-align: center;
}
.sim-show .list .opabox p {
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: left;
}
.sim-show .list:hover .opabox {
  top: 0;
}
.sim-tit {
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms ease-in;
  font-family: 'Raleway-Regular', 'Microsoft Yahei';
  font-weight: 300;
}
.sim-info {
  color: #fff;
  margin: 20px 0;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  font-size: 20px;
}
.me {
  overflow: hidden;
  text-align: center;
  height: 600px;
  background: url(../img/me.jpg) no-repeat fixed center;
  background-size: 100% auto;
  position: relative;
  left: 0;
  top: 0;
}
.me .shadow {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.me h2 {
  position: relative;
  left: 0;
  top: 0;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: inline-block;
  padding: 40px 20px 20px;
  margin-top: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms ease-in;
  font-family: 'Raleway-Regular', 'Microsoft Yahei';
  font-weight: 300;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.me ul {
  position: relative;
  left: 0;
  top: 0;
  height: 250px;
}
.me ul li {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.me p {
  margin: 20px 0;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.me .me-box {
  position: relative;
  left: 0;
  top: 0;
}
.me .me-box ol {
  width: 60px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -50px;
}
.me .me-box ol li {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin: 5px;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}
.me .me-box ol li.on {
  background: #fff;
}
.others {
  text-align: center;
  background: url(../img/3.jpg) no-repeat center;
}
.others h2 {
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: inline-block;
  padding: 100px 20px 20px;
  margin-top: 30px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms ease-in;
  font-family: 'Raleway-Regular', 'Microsoft Yahei';
  font-weight: 300;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.others h3 {
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 20px 20px 20px;
  color: #fff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms ease-in;
  font-family: 'Raleway-Regular', 'Microsoft Yahei';
  font-weight: 300;
  margin-bottom: 30px;
  box-sizing: border-box;
}
