.container {
	width: 100%;
	height: 574px;
	background: lightpink;
	background: url(../img2/big.jpg) repeat-x center 0;
}
.box {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.left {
	width: 240px;
	height: 574px;	
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,0,0,0.5);
}
.bottom {
	width: 949px;
	height: 144px;
	position: absolute;
	left: 250px;
	bottom: 0;
	background: rgba(0,255,0,0.5);
}
.right {
	width: 200px;
	height: 419px;
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0,0,255,0.5);
}